section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
#slideContainer {
  width: 200%; /* to contain 3 panes */
  height: 100%;
}

.pane {
  height: 100%;
  float: left;
}
.center-pane {
  width: 50%; /* relative to parent -> 25% of 400% = 100% of window width */
}
.side-pane {
  width: 25%;
}

.blue {
  background-color: #3883d8;
}
.red {
  background-color: #cf3535;
}
.orange {
  background-color: #ea6300;
}
.yellow {
  background-color: yellow;
}